flows (7).json
[
    {
        "id": "4ffc49288ce2e59d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "608176873a165d54",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e96a0e5884f544da",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9146a4f56e95e9a0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thinkspeak.com",
        "port": "1883",
        "clientid": "Ei4AFR0YEhg4DCI9IDEjBzs",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b933264fda3b74f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thinkspeak.com",
        "port": "1883",
        "tls": "",
        "clientid": "GwsOGjMlOCM1PB0XEzQEFSA",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc205321a9870a75",
        "type": "ui_group",
        "name": "DATA",
        "tab": "608176873a165d54",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc30f41f73771540",
        "type": "ui_group",
        "name": "Control",
        "tab": "608176873a165d54",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b40a6112caf0d75",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b473482e1d17fe3f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "Dx4uNzMjBwghFjQUIg8RJD0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c513258677b7abf0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "GR4GAQkiNwQMAzMcFysGGT0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6a4f84e96913f6d9",
        "type": "mqtt-broker",
        "name": "temp gau",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "LQYdOR4cGRkqNzEdAAsGMB0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "channels/2665876/subscribe/fields/field1/LTUY599QWL2FWSNL",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c802f21fa7ccff4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "Dx4uNzMjBwghFjQUIg8RJD0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a072252698296b00",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "GR4GAQkiNwQMAzMcFysGGT0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d5a292c8e6a2fbba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "Dx4uNzMjBwghFjQUIg8RJD0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "750ebe390df12d16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "GR4GAQkiNwQMAzMcFysGGT0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cdbaad56469f2194",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "BQUmOCgbCB0FBy0oNDknJho",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "acdd1dbc7dc4900f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "BBYwMhg0JhYzER0pDAwjDSg",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed96e13f2437c5eb",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "d9576ffb213c49ceba760d79b17ab28f.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a56f8967af78bfb3",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "734b5b45ad3ff782",
        "type": "ui_group",
        "name": "CONTROL",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47dcf20d.cc4c4c",
        "type": "mqtt-broker",
        "broker": "192.168.0.6",
        "port": "1883",
        "clientid": "Teste",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "12ed5804.30b9e8",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "18"
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a3b44e1e99d66ace",
        "type": "mqtt-broker",
        "d": true,
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "GwsOGjMlOCM1PB0XEzQEFSA",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35c32d16edda4541",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "JQMpIQkQER0wNS0eEy4HChc",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "66bb4fb20dcc4250",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e71e79c68dbae53",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f45ceceb9f304f4",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "79bd1ad9b2808232",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d7bcd5ec37d70d4",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "3bf021ad667d77e7",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "bc30f41f73771540",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "63d5e509082b7a0b",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "cc205321a9870a75",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "35105caab0cd04ec",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "cc205321a9870a75",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "25d880db96033ff5",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "cc205321a9870a75",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ecc1cc3e0321498",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "cc205321a9870a75",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "4c99747d8595e761",
        "type": "ui_spacer",
        "z": "4ffc49288ce2e59d",
        "name": "spacer",
        "group": "cc205321a9870a75",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4e43f1fb87e772f",
        "type": "ui_button",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "group": "bc30f41f73771540",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "field1=1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "6eeba484077ee52c"
            ]
        ]
    },
    {
        "id": "808f0de9e167c7dc",
        "type": "ui_button",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "group": "bc30f41f73771540",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "field1=0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "6eeba484077ee52c"
            ]
        ]
    },
    {
        "id": "e0279e585efc2aa2",
        "type": "mqtt in",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2707006/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acdd1dbc7dc4900f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "f952412a7c9e4012"
            ]
        ]
    },
    {
        "id": "25558a481169488c",
        "type": "change",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "autoManual",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6eeba484077ee52c"
            ]
        ]
    },
    {
        "id": "6eeba484077ee52c",
        "type": "function",
        "z": "4ffc49288ce2e59d",
        "name": "function 1",
        "func": "// Kiểm tra trạng thái của switch\nif (flow.get('autoManual') === true) {\n    // Manual mode: Cho phép nút ON/OFF gửi tín hiệu\n    return msg;  // Gửi tín hiệu từ nút ON/OFF\n} else {\n    // Không làm gì nếu không phải chế độ Manual\n    return null;  // Không gửi tín hiệu nào\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "6d67c6e2711fd934"
            ]
        ]
    },
    {
        "id": "c183f94bd4abd9d3",
        "type": "ui_switch",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "label": "Auto/Manual",
        "tooltip": "",
        "group": "bc30f41f73771540",
        "order": 8,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "25558a481169488c"
            ]
        ]
    },
    {
        "id": "6d67c6e2711fd934",
        "type": "mqtt out",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2707006/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cdbaad56469f2194",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "f952412a7c9e4012",
        "type": "ui_led",
        "z": "4ffc49288ce2e59d",
        "order": 3,
        "group": "bc30f41f73771540",
        "width": 5,
        "height": 3,
        "label": "Yellow LED",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e6a2b0f94e7f394",
        "type": "ui_text",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "IOT_ST2_NHOM-5-BAI-5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "24",
        "color": "#000000",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "7bd58acec3958f94",
        "type": "ui_text",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "QUỐC THỊNH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "39b250516ec9a67a",
        "type": "ui_text",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "GIA HUY",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "0bc746117cb72c2e",
        "type": "ui_text",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "NHẬT HỒNG",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "3439e0da1c0c728b",
        "type": "inject",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "65c6398052f2a969"
            ]
        ]
    },
    {
        "id": "65c6398052f2a969",
        "type": "ui_digital_clock",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "group": "cc205321a9870a75",
        "order": 5,
        "width": 5,
        "height": 3,
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "e270671a072305df",
        "type": "mqtt in",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2665876/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9146a4f56e95e9a0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "a8c6f79518fd0441"
            ]
        ]
    },
    {
        "id": "43d0c6b5672a4a6a",
        "type": "mqtt in",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2665876/subscribe/fields/field2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9146a4f56e95e9a0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "6f4adb8a86bec631"
            ]
        ]
    },
    {
        "id": "a8c6f79518fd0441",
        "type": "ui_template",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "name": "temp",
        "order": 2,
        "width": 9,
        "height": 4,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/2665876/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f4adb8a86bec631",
        "type": "ui_template",
        "z": "4ffc49288ce2e59d",
        "group": "cc205321a9870a75",
        "name": "hum",
        "order": 4,
        "width": 9,
        "height": 4,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\"\n    src=\"https://thingspeak.com/channels/2665876/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7bee911c9f3922",
        "type": "mqtt in",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2715612/subscribe/fields/field2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35c32d16edda4541",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 500,
        "wires": [
            [
                "af3a905cc8990f31"
            ]
        ]
    },
    {
        "id": "af3a905cc8990f31",
        "type": "ui_gauge",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "group": "cc205321a9870a75",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "ce7ec4c339d3cee0",
        "type": "ui_gauge",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "group": "cc205321a9870a75",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8a083ad94c1685d",
        "type": "mqtt in",
        "z": "4ffc49288ce2e59d",
        "name": "",
        "topic": "channels/2715612/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35c32d16edda4541",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "ce7ec4c339d3cee0"
            ]
        ]
    }
]